<br><br><br><br>
<div>
<div class="col-lg-6 col-sm-6 col-12">
    <h4>Upload your music files</h4>
    <div class="input-group">
        <label class="input-group-btn">
            <span class="btn btn-primary">
                Browse&hellip; <input type="file" style="display: none;"
                                      ngf-select ng-model="file" name="file"
                                      ngf-max-size="20MB"
                                      [multiple]="multiple" #fileInput>
            </span>
        </label>
        <input type="text" class="form-control" readonly>
    </div>
    <span class="help-block">
        Try selecting one or more files and watch the feedback
    </span>
</div>
<div class="col-lg-6 col-sm-6 col-12">
    <h4>Paste YouTube link</h4>
    <div class="input-group">
        <label class="input-group-btn">
            <input type="text" class="form-control">
        </label>
    </div>
    <span class="help-block">
        Paste your favorite YouTube song's link
    </span>
</div>
</div>
<div class="music-cards">
  <section *ngFor="#key of arrayOfKeys">
    <div class="py-3">
      <div class="card">
        <div class="row ">
          <div class="col-md-4">
              <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=100&h=100" class="w-100">
            </div>
            <div class="col-md-8 px-3">
              <div class="card-block px-3">
                <h4 class="card-title">{{musicQueue[key].name}}</h4>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>

          </div>
        </div>
      </div>
  </section>
</div>